body{
    margin: 0;
    padding: 0;

}
.main{
    width: 100%;
    background: linear-gradient(to top, rgba(0,0,0,0.5)50%,rgba(0,0,0,0.5)50%), url(images/barmaja.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
   
}
.navabar{
    width: 1200px;
    height: 75px;
    margin:auto;
    align-items: center;
    justify-content: space-around;
    padding-top: 20px;

}
.icon{
    width: 200px;
    float: left;
    height: 70px;
}
.logo{
    color: #ff7200;
    font-size: 35px;
    font-family: arial;
    padding-left: 20px;
    float: left;
    transition: 0.7s;
    margin-top:0 ;
    cursor: pointer;
}
.menu{
    width: 400px;
    float: left;
    height: 70px;
}
ul{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}
ul li{
    
        list-style: none;
        margin-left: 62px;
        font-size: 14px;
    }
    
ul li a{
    text-decoration: none;
    color: antiquewhite;
    transition: 0.7s;
    
}
ul li a:hover{
    color: orangered;
}
.search{
    width: 330px;
    float: left;
    margin-left: 270px;
}
.srch{
    font-family: 'Times New Roman';
    width: 200px;
    height: 40px;
    background: transparent;
    border: 1px solid #ff7200;
    color: #fff;
    border-right: none;
    font-size: 16px;
    float: left;
    padding: 10px;
    border-bottom-left-radius: 5px;

    border-top-left-radius: 5px;
    transition: 0.7s;
    
}
.btn{
    width: 100px;
    height: 40px;
    background: #ff7200;
    color: #fff;
    font-size: 15px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    transition: 0.7s;
}
.btn:focus{
    outline: none;
}
.srch:focus{
    outline: none;

}
.btn:hover{
    color:black;
}
.content{
    width: 1200px;
    height: auto;
    margin:auto;
    color: #fff;
    position: relative;
}
.content .par{
    padding-left: 20px;
    padding-bottom: 25px;
    font-family: arial;
    letter-spacing: 1.2px;
    line-height: 30px;
}
.content h1{
    font-family:'Times New Roman';
    font-size: 50px;
    padding-left: 20px;margin: 9px;
    letter-spacing: 2px;
}
.content .cn {
    width: 160px;
    height: 40px;
    background: #ff7200;
    border: none;
    margin-bottom: 10px;
    margin-left: 20px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
}
.content .cn a{
    text-decoration: none;
    color: #000;
    transition: 0.3s ease;

}
.cn:hover{
    background-color: #fff;
}
.logo:hover{
    color:yellow;
}
.content span{
    color: #ff7200;
    font-size: 60px;
}
.form{
    width: 250px;
    height: 450px;
    background: linear-gradient(to top, rgba(0,0,0,0.9)50%,rgba(0,0,0,0.8)50%);
    position: absolute;
    top: 20px;
    left: 870px;
    border-radius: 10px;
    padding: 25px;

}
.form h2{
    width: 220px;
    font-family: sans-serif;
    text-align: center;
    color: #ff7200;
    font-size: 22px;
    background-color: #fff;
    border-radius: 10px;
    margin: 2px;
    padding: 8px;
}
.form input{
    width: 240px;
    height: 35px;
    background: transparent;
    border-bottom: 1px solid #ff7200;
    border-top: none;
    border-right: none;
    border-left: none;
    color: #fff;
    font-size: 15px;
    letter-spacing: 1px;
    margin-top: 30px;
    font-family: sans-serif;
}
.form input:focus{
    outline: none;
}
::placeholder{
    color: #fff;
    font-family: arial;
}
.btnn{
    width: 240px;
    height: 40px;
    background: #ff7200;
    border: none;
    margin-top: 30px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    color: #fff;
    transition: 0.7s;
    
}
.btnn:hover{
    background: #fff;
    color: #ff7200;
}
.btnn a{
    text-decoration: none;
    color: #000;
    font-weight: bold;
}
.form .link{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    padding-top: 20px;
    text-align: center;

}
.form .link a{
    text-decoration: none;
    color: #ff7200;
}
.wail{
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}
.icon a{
    text-decoration: none;
    color: #fff;
}
.icon ion-icon{
    color: #fff;
    font-size: 30px;
    padding-left: 14px;
    padding-top: 9px;
    transition: 0.7s;
}
.icon ion-icon:hover{
    color: #ff7200;
    
}
